<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" />
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>
  <title>Medium Blog</title>
</head>
<body>
  <div class="ui stackable menu">
  <div class="item">
    <h3><a href="/blog">Blog</a></h3>
  </div>

  {% if user.username %}
    <a class="item" href="/welcome">User Account</a>
    <a class="item" href="/logout">Logout</a>
  {% else %}
    <a class="item" href="/signup">Sign Up</a>
    <a class="item" href="/login">Login</a>
  {% endif %}
    <!-- <a class="item" href="/users">Profile</a> -->
  <!-- <% else %>
    <a class="item" href="/users/new">Register</a>
    <div class="right menu">
      <a class="item" href="/sessions/new">Sign In</a>
    </div>
  <% end %> -->
</div>
  <div class="ui main text container">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
