{% extends "base.html" %}
{% block content %}
<h1 style="margin-top: 40px;"class="ui stacked segment center aligned header">Welcome to Blog</h1>
<div class="ui two cards">
  {%for post in posts %}
  <a class="ui card" href="blog/{{post.key().id()}}">
    <div class="content">
      <div class="header">{{post.subject}}</div>
      <div class="description">
        <p>{{post.content}}</p>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
<br>
<div class="ui animated button" tabindex="0">
  <div class="visible content">New Post</div>
  <div class="hidden content">
    <a href="/blog/newpost"><i class="right plus icon"></i></a>
  </div>
</div>
{%endblock%}
