{% extends "base.html" %}
{% block content %}
  <h1 style="margin-top: 40px;"class="ui stacked segment center aligned header">{{post.subject}}</h1>
  <p>{{post.content}}</p>
  {% if user.username %}
    <a href="/blog/posts/{{post.key().id()}}/edit">Edit</a> |
    <a href="/blog/posts/{{post.key().id()}}/delete">Delete</a>
  {% endif %}
  <h2>Comments</h2>
  <div class="ui comments">
  <div class="comment">
    <a class="avatar">
      <img src="https://robohash.org/joe">
    </a>
    <div class="content">
      <a class="author">Joe Henderson</a>
      <div class="metadata">
        <div class="date">1 day ago</div>
      </div>
      <div class="text">
        <p>The hours, minutes and seconds stand as visible reminders that your effort put them all there. </p>
        <p>Preserve until your next run, when the watch lets you see how Impermanent your efforts are.</p>
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
  <div class="comment">
    <a class="avatar">
      <img src="https://robohash.org/christian">
    </a>
    <div class="content">
      <a class="author">Christian Rocha</a>
      <div class="metadata">
        <div class="date">2 days ago</div>
      </div>
      <div class="text">
        Here is another tweet!!!
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
</div>
<form data-postid={{post.key().id()}} id="comment-form" class="ui reply form">
  <div class="field">
    <textarea></textarea>
  </div>
  <button type="submit" class="ui primary submit labeled icon button">
    <i class="icon edit"></i> Add Comment
  </button>
</form>
{%endblock%}
