{% extends "base.html" %}
{% block content %}
  <h1 style="margin-top: 40px;"class="ui stacked segment center aligned header">{{post.subject}}</h1>
  <p>{{post.content}}</p>
  {% if user.username and post.author_id == user.key().id() %}
    <a href="/blog/posts/{{post.key().id()}}/edit">Edit</a> |
    <a href="/blog/posts/{{post.key().id()}}/delete">Delete</a>
  {% endif %}
  <h2>Comments</h2>
  <div class="ui comments">
    {% for comment in comments %}
      <div class="comment">
        <a class="avatar">
          <img src="https://robohash.org/{{comment.author}}">
        </a>
        <div class="content">
          <h3 class="author">{{comment.author}}</h3>
          <div class="text">
            <p>{{comment.body}}</p>
          </div>
          <div class="actions">
            <a class="reply">Delete</a>
          </div>
        </div>
      </div>
    {% endfor %}
</div>
{% if user.username %}
<form data-postid={{post.key().id()}} id="comment-form" class="ui reply form">
  <div class="field">
    <textarea></textarea>
  </div>
  <button type="submit" class="ui primary submit labeled icon button">
    <i class="icon edit"></i> Add Comment
  </button>
</form>
{% endif %}
{%endblock%}
