{% extends "base.html" %}
{% block content %}
<h1 style="margin-top: 40px;"class="ui stacked segment center aligned header">Blog</h1>
<div class="ui two cards">
  {%for post in posts %}
  <div class="ui card">
    <div class="content">
      <img class="ui avatar image" src="https://robohash.org/{{post.author}}">{{post.author}}
    </div>
    <div class="content">
      <a href="blog/posts/{{post.key().id()}}" class="header">{{post.subject}}</a>
      <div class="description">
        <p>{{post.content}}</p>
      </div>
    </div>
    <div class="content">
      <span class="right floated">
        <i class="heart outline like icon"></i>
        17 likes
      </span>
      <i class="comment icon"></i>
      3 comments
    </div>
  </div>

  {% endfor %}
</div>
<br>
  {% if user.username %}
<div class="ui animated button" tabindex="0">
  <div class="visible content">New Post</div>
  <div class="hidden content">
    <a href="/blog/posts/new"><i class="right plus icon"></i></a>
  </div>
</div>
  {% endif %}
{%endblock%}
